<!DOCTYPE html>
<html>
  <head>
    <title>Vegan Homies</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller.controller_name %>">
  	<div id="banner">
  		<div id="logo">
  			Vegan Homies!!!
  		</div>
  		<div id="login-logout-signup">
				<% if user = User.find_by(id: session[:user_id]) %>
					Hello <%= user.name %> <%= link_to "Log Out", logout_path, method: "delete" %> 
				<% else %>
					Not signed in <%= link_to "Log In", login_path %> / <%= link_to "Sign Up", signup_path %>
				<% end %> 			
  		</div>
  		
  	</div>
  	<div id="columns">
  		<div id="side" >
  			<ul>
  				<li><a href="http://...">Home</a></li>
  			</ul>
  		</div>
			<div id="main">
				<%= yield %>
			</div>
		</div>
  </body>
</html>
