<!DOCTYPE html>
<html>
  <head>
    <title>Vegan Homies</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% 
  	# Get the user and profile if they exist
		if user = User.find_by(id: session[:user_id])
			profile = Profile.find_by(user_id: session[:user_id])
		else
			profile = nil	
		end
  %>
  
  <body class="<%= controller.controller_name %>">
  	<div id="banner">
  		<div id="logo">
  			Vegan Homies!!!
  		</div>
  		<div id="login-logout-signup">
				<% if user %>                  
					Hello <%= user.name %> <%= link_to "Log Out", logout_path, method: "delete" %> 
				<% else %>
					Not signed in <%= link_to "Log In", login_path %> / <%= link_to "Sign Up", signup_path %>
				<% end %> 			
  		</div>
  		
  	</div>
  	<div id="columns">
  		<div id="side" >
  			<ul>
  				<li><%= link_to "Home", welcome_index_path %></li>
  				<li>About</li>
  				<li>FAQ</li>
  				<% if user %>
  					<% if profile %>
  						<li>Edit / View Profile</li>  						
  					<% else %>
  						<li><%= link_to 'Create Profile', new_profile_path %></li>
  					<% end %>
  				<% end %>
  			</ul>
  		</div>
			<div id="main">
				<%= yield %>
			</div>
		</div>
  </body>
</html>
